.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
    color: whitesmoke;
    background-color: var(--color-text);
    border: var(--border-thick);
    border-radius: var(--radius-lg);
    cursor: pointer;
    font-size: var(--font-size-md);

    &:not(:disabled) {
        &:hover {
            color: var(--color-text);
            background-color: transparent;
        }
    }
}

.button.close {
    background-color: var(--color-error);
    border-color: var(--color-error);

    &:not(:disabled) {
        &:hover {
            color: var(--color-text);
            background-color: transparent;
            border-color: var(--color-error);
        }
    }
}

.button:disabled {
    background-color: var(--color-disabled);
    border-color: var(--color-disabled);
    cursor: not-allowed;
}
