.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    min-width: 0;
}

.columnName {
    margin: 0;
    padding: var(--spacing-md);
    width: auto;
    align-items: center;
    font-size: var(--font-size-lg);
    font-weight: bold;
}

.issues {
    margin: 0;
    padding: 0.5rem;
    width: auto;
    flex: 1;

    &.highlight {
        outline: 2px dashed var(--color-highlight-border);
        border: 1px solid transparent;
        background-color: var(--color-highlight-bg);
    }
}

.column-position {
    flex: 1;
    margin: 0;
    padding: var(--spacing-md);
    width: auto;
    font-size: var(--font-size-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    align-content: center;
}

.column-button-action {
    min-height: 54.4px;
    min-width: 54.4px;

    &.double {
        width: 114.8px;
    }
}

.section.editing-column-name {
    padding: 0.8px;
}
