.commentaries {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 16px 0;
}

.commentary__container {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        padding-bottom: 7px;
        border-bottom: 1px solid #777;
    }
}

.commentary__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 8px;
}

.commentary__avatar {
    border-radius: 50%;
    outline: 1px solid black;
}

.commentary__edited {
    margin: 0;
    margin-left: auto;
}

.commentary__content {
    white-space: pre-line;
    padding: 4px;
    padding-left: 8px;
}

.commentary_buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    &>button {
        font-size: x-small;
    }
}

.commentary__editButton {
    margin-left: auto;
}