.fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border: var(--border-thin);
    border-radius: var(--radius-lg);
    padding: 20px;
    background-color: var(--color-bg);

    & legend {
        background-color: var(--color-bg);
        border-radius: var(--radius-md);
        padding: 1px 5px;
        border: var(--border-thin);
    }
}