.field {
    position: relative;
    margin-bottom: 25px;
}

.field__input {
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    font-size: 16px;
    min-width: 14rem;
}

.field__label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all 0.3s ease;
    color: hsl(0, 0%, 50%);
    pointer-events: none;
}

.field__input:focus {
    outline: 1px solid black;
}

.field__input:focus+.field__label,
.field__input:not(:placeholder-shown)+.field__label {
    top: -8px;
    left: 9px;
    font-size: 13px;
    padding: 0px 3px;
    background-color: white;
}

.field__input.is-invalid {
    border-color: red;
    outline: 1px solid red;
}

.field__input.full-width {
    width: 100%;
    box-sizing: border-box;
}

.field__error {
    position: absolute;
    top: 100%;
    left: 10px;
    font-size: 12px;
    color: red;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.field__textarea {
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    font-size: 16px;
    min-width: 14rem;
    resize: none;
    overflow-y: hidden;
    font-family: inherit;
    line-height: 1.5;
    min-height: 76.8;
}

.field__textarea:focus {
    outline: 1px solid black;
}

.field__textarea:focus+.field__label,
.field__textarea:not(:placeholder-shown)+.field__label {
    top: -8px;
    left: 9px;
    font-size: 13px;
    padding: 0px 3px;
    background-color: white;
}

.field__textarea.is-invalid {
    border-color: red;
    outline: 1px solid red;
}

.field__textarea.full-width {
    width: 100%;
    box-sizing: border-box;
}