.fileAttachment__container {
    margin: 0;
    margin-bottom: var(--spacing-25);
}

.fileAttachment__link {
    appearance: none;
    text-decoration: none;
    width: fit-content;

    & label:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.fileAttachment__remove {
    background: none;
    border: none;
    color: var(--color-error);
    margin: 0;
    padding: 0 5px;

    &:not(:disabled) {
        &:hover {
            color: var(--color-error-dark);
        }
    }
}
