.filtersContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    & span {
        font-weight: bold;
        font-size: large;
    }
}

.membersContainer {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
}

.filter {
    background-color: white;
    color: black;
    border: none;
    margin: 0;
    padding: 1px 3px;

    &:hover {
        text-decoration: underline;
    }

    &.activated {
        outline: var(--border-thin);
        border-radius: var(--radius-lg);
    }
}