.filtersContainer {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
