.issue {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-border-gray);

    &:hover {
        background-color: var(--color-bg-hover);
        cursor: pointer;
    }

    &:first-child {
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    }

    &:last-child {
        border-bottom: none;
        border-radius: 0 0 var(--radius-sm) var(--radius-sm);
    }

    &:only-child {
        border-bottom: none;
        border-radius: var(--radius-sm);
    }
}

.issue-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 6px;

    &.last {
        margin-bottom: 0;
    }
}

.issue_img-container {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    border-radius: var(--radius-sm);
    align-items: center;

    & img {
        border-radius: var(--radius-sm);
    }
}

.issue_publicId {
    font-size: var(--font-size-sm);
    height: var(--font-size-sm);
    padding: 0;
    margin: 0;

    &:hover {
        text-decoration: underline;
    }

    &.deleted {
        text-decoration: line-through;
    }
}

.issue_title {
    font-size: var(--font-size-md);
}

.issue_storyPoints {
    font-size: var(--font-size-sm);
    align-items: center;
    border: 1px solid var(--color-border-gray);
    background-color: lightgray;
    padding: 0 2px;
    border-radius: var(--radius-sm);
    height: 12px;
    display: flex;
}

.issue-details_img-container {
    width: 18.4px;
    height: 18.4px;
    display: flex;
    justify-content: center;
    border-radius: var(--radius-sm);
    align-items: center;

    & img {
        border-radius: var(--radius-sm);
    }
}

.issue-assignee-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    outline: 1px solid black;
}