.issue {
    padding: .5rem;
    border-bottom: 1px solid gray;

    &:hover {
        background-color: #acacac;
        cursor: pointer;
    }

    &:first-child {
        border-radius: 2px 2px 0 0;
    }

    &:last-child {
        border-bottom: none;
        border-radius: 0 0 2px 2px;
    }

    &:only-child {
        border-bottom: none;
        border-radius: 2px;
    }
}

.issue-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 6px;

    &.last {
        margin-bottom: 0;
    }
}

.issue_img-container {
    width: 14x;
    height: 14px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    align-items: center;

    & img {
        border-radius: 3px;
    }
}

.issue_publicId {
    font-size: 13px;
    height: 13px;
}

.deleted {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.issue_title {
    font-size: 16px;
}

.issue_storyPoints {
    font-size: 13px;
    align-items: center;
    border: 1px solid gray;
    background-color: lightgray;
    padding: 0 2px;
    border-radius: 2px;
    height: 12px;
    display: flex;
}