.buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

dialog {
    border: 1px solid #777;
    border-radius: 10px;
    /* padding: 2rem; */
    padding: 0;
}

.dialogContainer {
    /* margin: 2rem; */
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 2rem;
}