.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

dialog {
    border: var(--border-thin);
    border-radius: var(--radius-lg);
    padding: 0;
    min-width: 600px;
    width: 70%;
}

dialog::backdrop {
    background-color: var(--shadow-dialog-backdrop);
}

.dialogContainer {
    border: 1px solid transparent;
    border-radius: var(--radius-lg);
    padding: var(--spacing-xl);
}

.modal-section {
    margin-bottom: var(--spacing-25);
}
