.issue-type-priority-option {
    display: flex;
    justify-content: center;
    border-radius: var(--radius-sm);
    align-items: center;
    width: 20px;
    height: 20px;

    & img {
        border-radius: var(--radius-sm);
    }
}

.member-avatar-option {
    border-radius: var(--radius-full);
    width: 20px;
    height: 20px;
    outline: var(--border-thin);
}
