.section {
    border: var(--border-thin);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    margin: var(--spacing-xl) auto;
    padding: var(--spacing-xl);
    width: 600px;
    background-color: var(--color-bg);
}

.section.full-width {
    margin: var(--spacing-xl);
    width: auto;
}

.section.eight {
    min-width: 700px;
    width: 70%;
    max-width: 850px;
}

.subsection {
    display: flex;
    flex-direction: row;
    align-items: center;
}
