.field-ro {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;

    &.issue-description-edited-at {
        margin-top: 11px;
        margin-left: auto;
    }
}

.field-ro_label {
    width: 1fr;
    color: #3b3b3b;
}