.field-ro {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-md);

    &.issue-description-edited-at {
        margin-top: 11px;
        margin-left: auto;
    }
}

.field-ro_label {
    width: 1fr;
    color: #3b3b3b;
}
