.userProfile {
    border: 2px solid black;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem;

    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;

        &:hover {
            opacity: 50%;
            cursor: pointer;
        }
    }
}

.userProfile__h1 {
    display: block;
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
}

.userProfile__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.userProfile__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.userProfile__label {
    font-weight: 600;
    min-width: 100px;
    margin: 0;
    text-align: right;
}

.userProfile__input {
    margin: 0;
    flex: 1;
}

.userProfile__hr {
    align-self: center;
    display: block;
    border: none;
    border-top: 1px solid black;
    width: 100%;
    margin: 0;
}

.userProfile__list {
    border: 2px solid black;
    border-radius: 10px;
    /* padding: 1rem; */
}

a.userProfile__listItem {
    margin: 5px;
    white-space: nowrap;
}