.userProfile__card {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.userProfile__avatar-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: var(--radius-full);
    flex-shrink: 0;
    box-shadow: var(--shadow-avatar);
    outline: var(--border-thin);

    &:not(&--disabled):hover {
        .userProfile__avatar-overlay {
            opacity: 1;
        }

        .userProfile__avatar {
            opacity: 0.5;
        }
    }

    &.--disabled {
        cursor: default;

        .userProfile__avatar {
            &:hover {
                opacity: 1;
            }
        }
    }
}

.userProfile__avatar-wrapper .userProfile__avatar {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-full);
    object-fit: cover;

    &:hover {
        opacity: 50%;
    }
}

.userProfile__avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--shadow-dialog-backdrop);
    opacity: 0;
    transition: var(--transition-normal);
    cursor: pointer;

    span {
        color: var(--color-bg);
        font-size: 14px;
        text-align: center;
    }
}

.userProfile__avatar-wrapper:hover .userProfile__avatar-overlay {
    opacity: 1;
}

.userProfile__avatar-wrapper:hover .userProfile__avatar {
    opacity: 0.5;
}

.userProfile__info {
    flex: 1;
}

.userProfile__fullName {
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: var(--spacing-lg);
}