.userProfile__card {
    border: 1px solid #777;
    border-radius: 10px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: 500px;
}

.userProfile__avatar {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.userProfile__info {
    flex: 1;
}

.userProfile__fullName {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1.5rem;
}

.userProfile__row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.userProfile__label {
    width: 1fr;
    color: #3b3b3b;
}